@font-face {
	font-family: "AppleII";
	src: url("../../fonts/AppleII.ttf");
}

@font-face {
	font-family: "Fix15MonoBold";
	src: url("../../fonts/Fix15Mono-Bold.woff");
}

@font-face {
	font-family: "White Rabbit";
	src: url("../../fonts/whitrabt.ttf");
}

html, body {
	margin: 0;
	padding: 0;
	background: #030100;
	color: #ddd;
	font-family: 'AppleII', monospace;
	width: 100%;
	height: 100%;
}

body {
	display: flex;
	text-align: center;
}

a {
	text-decoration: none;
}

.github-banner {
	position: absolute;
	top: 0;
	right: 0;
}

h1 {
	display: inline-block;
	color: #777;
	font-size: 140%;
	padding: 0.6em;
	margin: 0;
}
.subtitle {
	opacity: 0.25;
}

.rote {
	/* display: grid; */
	display: none;
	grid-template-columns: [left] 840px [right] auto;
	grid-template-rows: [top] 1fr [middle] 6fr [bottom] 4fr;
	grid-template-areas:
		"header header"
		"display interface"
		"console controls"
	;
	grid-gap: 1%;
	padding: 1%;
	box-sizing: border-box;
	text-align: left;
	
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.rote > header {
	grid-area: header;
}

#display {
	grid-area: display;
	/* border-bottom: solid 1px rgba(255, 255, 255, 0.1); */
}
	#display canvas {
		border: solid 1px rgba(255, 255, 255, 0.1);
	}
	#display.damaged canvas {
		border: solid 1px #f25;
	}

#console {
	grid-area: console;
	align-self: stretch;
	/* border: solid 1px rgba(255, 255, 255, 0.1); */
	padding: 1em;
	padding-bottom: 2em;
	box-sizing: border-box;
	overflow-y: scroll;
	scrollbar-width: none; /* Firefox */
	-ms-overflow-style: none; /* IE */
}
	#console::-webkit-scrollbar { /* WebKit */
		width: 0;
		height: 0;
	}
	#console ul {
		display: block;
		padding: 0;
		margin: 0;
	}
	#console ul > li {
		display: block;
		margin-bottom: 0.5em;
		opacity: 0.4;
	}
	#console ul > li:last-child {
		opacity: 1.0;
	}
	#console ul > li:nth-last-child(2) { opacity: 0.7; }
	#console ul > li:nth-last-child(3) { opacity: 0.6; }
	#console ul > li:nth-last-child(4) { opacity: 0.5; }

.plot {
	color: #df2;
}
.tip {
	color: #39c;
}

#interface {
	grid-area: interface;
	/* border: solid 1px rgba(255, 255, 255, 0.1); */
	padding: 0 1em;
}

.stats {
	display: block;
	margin: 0 0 1em 0;
	padding: 0;
	list-style: none;
}
	.stats li {
		margin: 0 0 0.5em 0;
		padding: 0;
	}
	.stats .pool {
		display: inline-block;
		letter-spacing: 0.3em;
		margin-left: 1em;
	}

.hp .pool, .hp-pool { color: #c47; }
.ap .pool, .ap-pool { color: #c74; }
.bp .pool, .bp-pool { color: #47c; }
.ep .pool, .ep-pool { color: #7c4; }
.dead { color: #c47; }

#controls {
	grid-area: controls;
	border: solid 1px rgba(255, 255, 255, 0.1);
	border-width: 1px 0 0 1px;
	padding: 1em;
	opacity: 0.5;
	font-size: 80%;
	overflow-y: auto;
}

.abilities {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 1em 0;
	padding: 0;
}
	.abilities li {
		display: inline-block;
		width: 30%;
		min-width: 14em;
		min-height: 1.1em;
		padding: 0.5em;
		margin: 0 0.5em 0.5em 0;
		border: solid 1px rgba(255, 255, 255, 0.3);
	}
	.abilities li .description {
		display: none;
		position: absolute;
		background-color: #090701;
		border: solid 1px rgba(255, 255, 255, 0.3);
		padding: 1em;
		margin-left: 3em;
		max-width: 16em;
		font-size: 80%;
	}
	.abilities li:hover .description {
		display: block;
	}
	.abilities li.none {
		border-color: rgba(255, 255, 255, 0.1);
	}
	.abilities li.ready {
		border-color: rgba(255, 255, 255, 0.5);
	}

.score {
	float: right;
	opacity: 0.5;
}

.seed {
	opacity: 0.1;
	font-size: 50%;
}


.splash {
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	transform: scale(0);
	text-align: center;
	overflow: hidden;
	opacity: 0;
	transition: all 1.3s;
}
.splash pre {
	width: 30em;
	margin: 10vh auto;
	text-align: left;
	color: #fd2;
}
.splash div {
	margin: 1em 0;
}
.splash .tip {
	margin: 10vh 0;
}
.credits {
	margin: 20vh 0;
	font-size: 80%;
	opacity: 0.2;
	line-height: 1.4em;
	transition: opacity 2s;
}
.credits:hover {
	opacity: 1.0;
}
.credits a {
	color: #69c;
}
.links {
	font-size: 80%;
}
.links a {
	display: block;
	color: #036;
	padding: 0.5em;
	opacity: 0.5;
	transition: opacity 0.1s;
}
.links a:hover {
	opacity: 1;
}



.rote-state-splash .splash {
	display: block;
	width: 100%;
	height: 100%;
	transform: scale(1);
	opacity: 1.0;
}
.rote-state-game .splash {
	width: 0;
	height: 0;
}

.rote-state-game .rote {
	display: grid;
}